body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: 'Overlock', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", 
    monospace;*/
}

.footer {
  background: #f9f9fa;
  padding-bottom: 50px;
  padding-top: 80px;
}
.footer_menu {
  margin-bottom: 20px;
}
.footer_menu ul {
  list-style: none;
  text-align: center;
}
.footer_menu ul li {
  display: inline-block;
}
.footer_menu ul li a {
  color: black;
  padding: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer_menu ul li a:hover {
  color: #554c86;
}

/*START FOOTER SOCIAL DESIGN*/
.footer_profile {
  margin-bottom: 40px;
}
.footer_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer_profile ul li {
  display: inline-block;
}
@media only screen and (max-width: 480px) {
  .footer_profile ul li {
    margin: 2px;
  }
}
.footer_profile ul li a img {
  width: 60px;
}

.footer_profile ul li a {
  background: #39c1eb;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  margin-right: 5px;
  border-radius: 50%;
  line-height: 40px;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
}
.footer_copyright {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 600;
  color: black;
}

.nav-link.active {
  color: #007bff !important;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.accordion-button:not(.collapsed) { 
  background: #39c1eb !important;
  color: white !important;
}
